[submodule "thirdParty/zookeeper"]
	path = thirdParty/zookeeper
	url = https://gitee.com/cocalele/zookeeper.git
[submodule "thirdParty/mongoose"]
	path = thirdParty/mongoose
	url = https://gitee.com/cocalele/mongoose.git
	branch = 6.7.1
[submodule "pfs/nlohmann_json"]
	path = pfs/nlohmann_json
	url = https://gitee.com/cocalele/json.git 
[submodule "thirdParty/isa-l_crypto"]
	path = thirdParty/isa-l_crypto
	url = https://gitee.com/mirrors/isa-l_crypto.git
[submodule "thirdParty/spdk"]
	path = thirdParty/spdk
	url = https://gitee.com/cocalele/spdk.git
[submodule "thirdParty/sg3_utils"]
	path = thirdParty/sg3_utils
	url = https://gitee.com/cocalele/sg3_utils
