[submodule "s5afs/thirdParty/log4c"]
	path = s5afs/thirdParty/log4c
	url = https://github.com/cocalele/log4c.git
[submodule "s5afs/thirdParty/zookeeper"]
	path = s5afs/thirdParty/zookeeper
	url = https://github.com/apache/zookeeper.git
